<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank you for subscribing to our newseletter.</h1>
    <p>
      We will keep you posted with launch updates.<br>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>