<div class="d-flex w-100 logo-overlay" id="contacts-logo logo_img">
    <a href="/"><%= image_tag('ruckus_no_bg.png', id: '', class: 'logo_img') %></a>
    <ul class="nav nav-menu-logo flex-column transparent-background" id="">
        <li class="nav-item">
            <%= link_to 'About us', about_path, :class=>'nav-link' %>
        </li>
        <li class="nav-item">
            <%= link_to 'FAQs', faq_path, :class=>'nav-link' %>
        </li>
        <li class="nav-item">
            <%= link_to 'Contacts', contacts_path, :class=>'nav-link' %>
        </li>
    </ul>
</div>