<div class="container-fluid " id="contacts">
    <div class="content-wrapper-contacts row h-100">
       
        <div class="col-lg-4 col-sm-12 d-flex align-items-start p-5 ">
            <%= render partial: 'welcome/logo_nav' %>
        </div>
        <div class="col-lg-6 col-sm-12 offset-lg-2 d-flex align-items-center transparent-background h-100">
            <div class="content-body-contacts">
                
                <h1 id="page-title">Contacts</h1>
                <li class="social-link twitter"><a href="http://twitter.com">
                    <i class="fa-brands fa-twitter"> @RUCKUSPEAK</i>
                </a></li>
                <li class="social-link facebook"><a href="http://facebook.com">
                    <i class="fa-brands fa-facebook"> @RUCKUSPEAK</i>
                </a></li>
                <li class="social-link instagram"><a href="http://instagram.com/ruckuspeak_clothing">
                    <i class="fa-brands fa-instagram"> @RUCKUSPEAK</i>
                </a></li>
                <li class="social-link email"><a href="mailto:ruckuspeak@gmail.com">
                    <i class="fa-solid fa-envelope"> RUCKUSPEAK@gmail.com</i>
                </a></li>
                <li class="social-link tiktok"><a href="mailto:ruckuspeak@gmail.com">
                    <i class="fa-brands fa-tiktok"> @ruckuspeak</i>
                </a></li>
                <br>
                <br>
                <div class="">
                    <h1>Don't hesitate to get in touch with us!</h1>
                    <p>If you have any feedback or unanswered questions, please get in touch with us and we'll try our best to help you out</p>
                
                </div>
            </div>
        </div>
        
    </div>
</div>