<div class="d-flex w-100 logo-overlay" id="contacts-logo">
    <a href="/"><img src="ruckus_logo.png" class="logo_img"></a>
    <ul class="nav flex-column" id="nav-menu-logo">
        <li class="nav-item">
            <%= link_to 'About us', about_path, :class=>'nav-link' %>
        </li>
        <li class="nav-item">
            <%= link_to 'FAQs', faq_path, :class=>'nav-link' %>
        </li>
        <li class="nav-item">
            <%= link_to 'Contacts', contacts_path, :class=>'nav-link' %>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#">Products</a>
        </li>
    </ul>
</div>
<div class="container-fluid " id="contacts">
    <div class="content-wrapper-contacts row">
        <h1 id="page-title">Contacts</h1>
       
        <div class="col-4 d-flex align-items-center justify-content-end">
            <div class="content-body">
                
            </div>
        </div>
        <div class="col-2"></div>
        <div class="col-6 d-flex align-items-center transparent-background">
            <div class="content-body-contacts">
            <br>
            <br>
                <li class="social-link twitter"><a href="http://twitter.com">
                    <i class="fa-brands fa-twitter"> @RUCKUSPEAK</i>
                </a></li>
                <li class="social-link facebook"><a href="http://facebook.com">
                    <i class="fa-brands fa-facebook"> @RUCKUSPEAK</i>
                </a></li>
                <li class="social-link instagram"><a href="http://instagram.com">
                    <i class="fa-brands fa-instagram"> @RUCKUSPEAK</i>
                </a></li>
                <li class="social-link email"><a href="mailto:ruckuspeak@gmail.com">
                    <i class="fa-solid fa-envelope"> RUCKUSPEAK@gmail.com</i>
                </a></li>
                <li class="social-link tiktok"><a href="mailto:ruckuspeak@gmail.com">
                    <i class="fa-brands fa-tiktok"> @ruckuspeak</i>
                </a></li>
                <br>
                <br>
                <div class="">
                    <h1>Don't hesitate to get in touch with us!</h1>
                    <p>If you have any feedback or unanswered questions, please get in touch with us and we'll try our best to help you out</p>
                
                </div>
            </div>
        </div>
        
    </div>
</div>