<div class="d-flex w-100" id="contacts-logo">
    <a href="/"><img src="ruckus_logo.png" class="logo_img"></a>
</div>
<div class="container-fluid " id="contacts">
    <div class="content-wrapper-contacts row">
       
        <div class="col-4"></div>
        <div class="col-3"></div>
        <div class="col-5 d-flex align-items-center">
            <div class="content-body-contacts">
                <h2>Contacts</h2>
                <ul>
                    <li class="social-link"><a href="http://twitter.com">
                        <i class="fa-brands fa-twitter"> @RUCKUSPEAK</i>
                    </a></li>
                    <li class="social-link"><a href="http://facebook.com">
                        <i class="fa-brands fa-facebook"> @RUCKUSPEAK</i>
                    </a></li>
                    <li class="social-link"><a href="http://instagram.com">
                    <i class="fa-brands fa-instagram"> @RUCKUSPEAK</i>
                    </li></a>
                    <li class="social-link"><i class="fa-regular fa-envelope"> ruckuspeak@gmail.com</i></li>
                </ul>
            </div>
        </div>
        
    </div>
</div>