<div class="container-fluid" id="faq">
<div class="row h-100 no-gutters">
  <div class="col-sm-12 col-lg-3 offset-lg-4 p-5" id="">
    <div class="d-flex w-100 logo-overlay" id="contacts-logo logo_img">
      <ul class="nav nav-menu-logo flex-column transparent-background" id="faq-nav-logo">
          <li class="nav-item">
              <%= link_to 'About us', about_path, :class=>'nav-link' %>
          </li>
          <li class="nav-item">
              <%= link_to 'FAQs', faq_path, :class=>'nav-link' %>
          </li>
          <li class="nav-item">
              <%= link_to 'Contacts', contacts_path, :class=>'nav-link' %>
          </li>
      </ul>
      <a href="/"><%= image_tag('ruckus_no_bg.png', id: '', class: 'logo_img') %></a>
    </div>
</div>

  <div class="col-sm-12 col-lg-5 order-lg-first no-gutters transparent-background h-100 p-5">
    <div class="d-flex flex-wrap align-content-center">
      <h1>Frequently Asked Questions</h1>
      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              What brands to we sell?
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <p>Ruckus Peak provides quality branded items for affordable prices. Some of the brands included within the website are The North Face, Berghaus and RAB. However, many more branded outdoor clothing will also be available. If there are any brands you would love to see on Ruckus Peak, drop an email to our customer service email: ruckuspeak@gmail.com</p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              What makes us stand out?
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <p>Our brand is individual in the way in which we cut out the troublesome process of sourcing, authenticating and refurbishing branded clothing. We allow the ease of browsing branded clothing without the inconvenience of searching for it. </p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Where do the clothes come from?
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <p>This is the third item's accordion body. It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the .accordion-body, though the transition does limit overflow.</p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingFour">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
              How are we sustainable?
            </button>
          </h2>
          <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <p> All our clothes are pre-loved items in need of a touch of refurbishment, done by ourselves. Our aim is to provide you with quality branded clothing, without having to buy new items. All parcels sent by Ruckus Peak will be packaged using pre-used packaging in order to reuse plastic and other non bio-degradable products.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class=" "></div>
  </div>
</div>