html, body{
    scroll-snap-type: y proximity;
    
}

#backgrounds_container{
    z-index: 0;
    position: relative;
    //overflow-y: scroll;
}

p{
    text-overflow: break;
}

.last-div{
    height: calc(100vh - 250px);
}

.content {
    top: 0;

    position: absolute;
    height: 100%;
    width: 100%;
    display: block;
    font-size: x-large;
    margin: 0;
    padding: 0;
}

.content-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.transparent-background{
    background-color: rgba(rgb(0, 0, 0), 0.4);

}

.content-body{
    display: flex;
    align-content: center;
    flex-direction: column;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    color: white;

    h1{
        font-size: 4em;
    }

    p{
        font-size: 1.25em;
    }
}

.background_image{
    height: 100%;
    width: 100%;
    object-fit: cover;
    top: 0;
}

.page-container{
    width: 100%;
    height: 100vh;
    margin-top: 0px;
    scroll-snap-align: start;
    scroll-snap-stop: normal;
    position: relative;
}


::-webkit-scrollbar{
    visibility: hidden;
    height: 6px;
    padding-right: 20px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.012);

  }

::-webkit-scrollbar-track:hover {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.121);

  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0,0,0,0.2);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover{
    background: rgba(0,0,0,0.4);
  }

::-webkit-scrollbar-thumb:active{
    background: rgba(0,0,0,.9);
}



.scroll_down{
    bottom: 50px;
    right: 100px;
    color: white;
}

.scroll_up{
    top: 50px;
    left: 100px;
    color: white;
}

#logo{
    padding-top: 30px;
    position: fixed;
    overflow: hidden;
    pointer-events: all;
    z-index: 1;
}


#nav-menu-logo{
    z-index: 3;
    top: 25%;
    left: 250px;
    align-self: center;
    border-left: 2px solid black;
    font-size: 1.5em;
    overflow: hidden;
    white-space: nowrap;
    .nav-link{
        color: white;
        transition: all 0.1s ease-in-out 0.1s;

    }

    .nav-link:hover{
        font-size: 1.75rem;
        transition: all 0.1s ease-in-out 0.1s;
    }

    .nav-item{
        width: 0px;
        text-overflow: ellipsis;
        transition: all 0.1s ease-in-out 0.1s;

    }

    a{
        text-overflow: ellipsis;
    }
    .nav-item:hover{
        width: 100px;
        transition: all 0.2s ease-out 0.1s;
    }
}

.auto-width{
    width: auto;
}

.logo_img{
    height: 250px; 
    
    
}

#logo_img{

}

.nav-icon{
    width: 300px;
    color: white;
    z-index: 3;
    i{
        transform: scale(13,4);
    }
    transition: all 0.1s ease-in-out 0s;

}

.nav-icon:hover{
    color:grey;
    transition: all 0.2s ease-in-out 0.1s;
}

#process{
    filter: invert(1);
}


