
/* SCSS HEX */
$army-green: #515326ff;
$black-chocolate: #131206ff;
$dark-green-x-11: #48951b;
$pewter-blue: #9EB0B4ff;
$beau-blue: rgb(208, 227, 231);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #515326ff, #131206ff, #2F6410ff, #9EB0B4ff, #C2D5D9ff);
$gradient-right: linear-gradient(90deg, rgb(22, 22, 4), #131206ff, #2F6410ff, #9EB0B4ff, #C2D5D9ff);
$gradient-bottom: linear-gradient(180deg, #515326ff, #131206ff, #2F6410ff, #9EB0B4ff, #C2D5D9ff);
$gradient-left: linear-gradient(270deg, #515326ff, #131206ff, #2F6410ff, #9EB0B4ff, #C2D5D9ff);
$gradient-top-right: linear-gradient(45deg, #515326ff, #131206ff, #2F6410ff, #9EB0B4ff, #C2D5D9ff);
$gradient-bottom-right: linear-gradient(135deg, #515326ff, #131206ff, #2F6410ff, #9EB0B4ff, #C2D5D9ff);
$gradient-top-left: linear-gradient(225deg, #515326ff, #131206ff, #2F6410ff, #9EB0B4ff, #C2D5D9ff);
$gradient-bottom-left: linear-gradient(315deg, #515326ff, #131206ff, #2F6410ff, #9EB0B4ff, #C2D5D9ff);
$gradient-radial: radial-gradient(#515326ff, #131206ff, #2F6410ff, #9EB0B4ff, #C2D5D9ff);