
#contacts {
    background-image: url('winter.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo-overlay{
    position: absolute;
    width: 33%px;
}

#contacts-logo{
    top: 5%;
    left: 5%;
    #nav-menu-logo{
        width: 300px;
    }
}

.content-wrapper-contacts{
    height: 100%;
}

#page-title{
    position:absolute;
    left: 65%;
    top: 50px;
    font-size: 6em;
    color: var(--green);
}

.content-body-contacts{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 80%;
    padding: 30px;
    color: white;
    z-index: 2;
    li{
        margin: 10px 0;
        a{
            color: white;
            font-size: 1.75em;
            transition: all 0.1s ease 0.1s;
            -webkit-text-stroke: 1.5px black;
        }
      }
    li.twitter:hover{
        a{color: #1DA1F2;}
    }    
    li.facebook:hover{
        a{color: #4267B2;}
    }      
    li.tiktok:hover{
        a{
            color: cyan;
            text-shadow: 10px 10px magenta;
            
        }
    }   
    li.instagram:hover{
        a{
            background: -webkit-linear-gradient( #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }    
    li.email:hover{
        a{
            color: white;
            text-shadow: 0px 12px red;
        }
    }

    p{
        font-size: 1.25em;
    }
}

.social-link{
    color:black;
    list-style: none;
    font-weight: bold;
    //transition: all 0.1s ease-in-out 0.1s;

}


.social-link:hover{
    font-size: 1.25rem;
    transition: all 0.1s ease-in-out 0.1s;
}