@import './color_palette';

.btn-primary{
    background-color: $black-chocolate !important;
    color: $beau-blue !important;
    
    
}

a.btn{
    font-family: 'BebasNeue';
    padding-top: 2%;
    font-size: 1.5rem;
}

.btn{
    border-style: none !important;
}