@import './color_palette.scss';

#faq {
    background-image: url('waterfall.jpg');
    height: fit-content;
    min-height: 90%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    //height: 90%;
}

#faq-nav-logo{

        border-left: 0px !important;
        border-right: 2px solid black !important; 
    
}

.accordion{
    margin: 10%;
    p{
        color: $black-chocolate;
        padding-top: 2%;
    }

}

.accordion-item{
    border-radius: 0px !important;
    border: none;
    //border-top-right-radius: 0px !important;
    .accordion-header{
        background-color: $beau-blue;
       }
    .accordion-button:not(.collapsed){
        box-shadow: none;
        color: $army-green;
    }

    .accordion-body{
        background-color: $beau-blue;
    }
}

.accordion-item:first-of-type{

}
