#faq {
    background-image: url('waterfall.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#faq-logo{
    top: 10%;
    left: 80%;
}