footer{
    background-color: var(--green);
    //height: 250px;
    a{
        color: black;
    }

    .socials{
        i{font-size: 2em;}
        z-index: 995;
    }

    img{
        height: fit-content;
    }

    .socials{
        z-index: 10;

    }
}