footer{
    background-color: var(--green);
    width: 100%;
    padding-top: 2%;

    a{
        color: black;
    }

    .socials{
        i{
            font-size: 2em;
            text-shadow: 0 0 3px #000;
        }
        z-index: 995;
    }

    img{
        height: fit-content;
    }

    .socials{
        z-index: 10;

    }

    position: reltaive;
}
