/*Global settings*/
html, body{
    height: 100%;
    overflow-x: hidden;
}



@font-face{
    font-family: 'BebasNeue';
    src: url('BebasNeue-Regular.otf');
    font-weight: normal;
    font-style: normal;
} 



h1 {
    color: white;
    font-family: "BebasNeue";
    font-weight: normal;
    font-size: 6em;
    text-shadow: 10px 10px black;
}

h2 {
    color: white;
    font-family: "BebasNeue";
    font-weight: normal;
}

h3 {
    color: white;
    font-family: "BebasNeue";
    font-weight: normal;
}

h4 {
    color: white;
    font-family: "BebasNeue";
    font-weight: normal;
}

p{
    font-family: "BebasNeue";
    transform:scale(1,1.05);
    margin-top: 50%;
    padding-top: 2%;
    letter-spacing: 1.75px;

}

a{
    font-family: "BebasNeue";
}

button{
    font-family: "BebasNeue";
}

:root {
    --green: #209031;
}