/*Global settings*/
html, body{
    height: 100%;
    overflow-x: hidden;
}



@font-face{
    font-family: 'BebasNeue';
    src: url('BebasNeue-Regular.otf');
    font-weight: normal;
    font-style: normal;
} 



h1 {
    color: black;
    font-family: "BebasNeue";
    font-weight: normal;
}

h2 {
    color: black;
    font-family: "BebasNeue";
    font-weight: normal;
}

h3 {
    color: black;
    font-family: "BebasNeue";
    font-weight: normal;
}

h4 {
    color: black;
    font-family: "BebasNeue";
    font-weight: normal;
}

p{
    color: black;
    font-family: "BebasNeue";
    transform:scale(1,1.5);
    margin-top: 50%;
    padding-top: 2%;

}

a{
    font-family: "BebasNeue";
}


:root {
    --green: #AAF81C;
}